/* Mobile */
body {
  background-color: hsl(197, 71%, 90%);
  overflow: hidden;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 0;
}
.avatar {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, #25d, #1cf, #def, #5ef);
  border-radius: 50%;
  border: solid hsl(197, 71%, 30%) 3px;
}
.navigation {
  padding: 20px 0;
  font-family: 'Alice', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: hsl(197, 71%, 15%);
}
.navigation td {
  width: 33%;
  padding: 5px 5px;
  text-align: center;
}
.navigation a:hover {
  cursor: pointer;
  color: hsl(197, 71%, 35%)
}
.open-side {
  width: 33vw!important;
}
.open-bottom {
  height: 100vh!important;
}
.left-drawer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 0;
  background: linear-gradient(45deg, #49b3dd, #79caea, #abe0f4);
  border-right: hsl(197, 71%, 30%) solid 3px;
  box-shadow: 5px 0px 20px 0 rgba(46, 61, 73, 0.6);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
.left-drawer-content {
  flex: 4;
  margin: 3vh 3vw;
  padding: 1vh 1vw;
  background-color: hsl(197, 71%, 90%, 80%);
  border-radius: 5%;
  border: solid hsl(197, 71%, 80%) 2px;
  font-family: 'Alice', sans-serif;
  font-size: 16px;
  color: hsl(197, 71%, 15%)
}
.left-drawer-tab {
  position: absolute;
  height: 100vh;
  width: 20px;
  background-color: hsl(197, 71%, 32%, 80%);
  border-left: hsl(197, 71%, 30%) solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  z-index: 2;
}
.left-drawer-tab:hover {
  background-color: hsl(197, 71%, 30%, 85%);
  cursor: pointer;
}
.right-drawer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 0;
  background: linear-gradient(315deg, #a54015, #ea8a4b, #f9b761);
  border-left: hsl(24, 80%, 30%) solid 3px;
  box-shadow: -5px 0px 20px 0 rgba(46, 61, 73, 0.6);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
.right-drawer-content {
  flex: 4;
  margin: 3vh 3vw;
  padding: 1vh 1vw;
  background-color: hsl(24, 80%, 90%, 80%);
  border-radius: 5%;
  border: solid hsl(24, 80%, 80%) 2px;
  font-family: 'Alice', sans-serif;
  font-size: 16px;
  color: hsl(24, 80%, 15%)
}
.right-drawer-tab {
  position: absolute;
  height: 100vh;
  width: 20px;
  background-color: hsl(24, 80%, 32%, 80%);
  border-right: hsl(24, 80%, 30%) solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  z-index: 2;
}
.right-drawer-tab:hover {
  background-color: hsl(24, 80%, 30%, 85%);
  cursor: pointer;
}
.bottom-drawer {
  display: flex;
  flex-direction: default;
  height: 0;
  width: 100vw;
  background: linear-gradient(0deg, #6d6543, #3a723f, #4b9652, #63c66d);
  border-top: hsl(126, 46%, 30%) solid 3px;
  box-shadow: 5px 0px 20px 0 rgba(46, 61, 73, 0.6);
  position: fixed;
  z-index: 3;
  bottom: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
.bottom-drawer-content {
  flex: 4;
  margin: 5vh 3vw 3vh 3vw;
  padding: 1vh 1vw;
  background-color: hsl(126, 46%, 90%, 80%);
  border-radius: 5%;
  border: solid hsl(126, 46%,, 80%) 2px;
  font-family: 'Alice', sans-serif;
  font-size: 16px;
  color: hsl(126, 46%, 15%)
}
.bottom-drawer-tab {
  position: absolute;
  height: 20px;
  width: 100vw;
  background-color: hsl(126, 46%, 32%, 80%);
  border-bottom: hsl(126, 46%, 30%) solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.bottom-drawer-tab:hover {
  background-color: hsl(126, 46%, 30%, 85%);
  cursor: pointer;
}
.drawer-header {
  font-family: 'Archivo Black', sans-serif;
  font-weight: bolder;
}
.drawer-footer {
  flex: 1;
  width: 33vw;
  align-self: flex-end;
  object-fit: cover;
}
.drawer-left-margin {
  flex: 1;
  height: 100vh;
  object-fit: cover;
  object-position: right;
  overflow-x: hidden;
  align-self: flex-start;
}
.drawer-right-margin {
  flex: 1;
  height: 100vh;
  object-fit: cover;
  object-position: left;
  overflow-x: hidden;
  align-self: flex-end;
}
/* Tablet */
@media only screen and (min-width: 768px) {

}
/* Desktop */
@media only screen and (min-width: 992px) {

}
